<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.pad.nhxxgl.mapper.YxglKhhfxxbMapper">

    <select id="queryHfxxByZjhm" parameterType="java.lang.String" resultType="org.cmms.modules.pad.nhxxgl.entity.YxglKhhfxxb">
        SELECT * FROM YXGL_KHHFXXB WHERE ZJHM=#{zjhm}
    </select>

</mapper>