<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ywgl.djkyw.djkrygl.mapper.DjkryglMapper">
    <select id="getListClaim" resultType="org.cmms.modules.ywgl.djkyw.djkrygl.entity.HrBasStaffPostVo" parameterType="java.lang.String">
        select t.*,t2.ywjgdm from HR_BAS_STAFF_POST t,HR_BAS_ORGANIZATION t2
        where t.zzbz = t2.zzbz
        <if test="gyh != null and gyh != ''">
            and t2.ywjgdm = #{ywjgdm}
        </if>
        <if test="khjlbz != null and khjlbz != ''">
            and t.khjlbz = #{khjlbz}
        </if>
        <if test="yggh != null and yggh != ''">
            and t.yggh = #{yggh}
        </if>
    </select>
</mapper>