<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ckjkpt.jcyj.tdryckgl.tdrqcklsjk.mapper.CkjkptTdrqcklsjkMapper">
    <select id="extract" parameterType="java.lang.String" statementType="CALLABLE">
        {call PKG_CKJKPT.P_CKJKPT_TDRQCKLSJK(#{tjyf})}
    </select>
</mapper>
