<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ckjkpt.csgl.cssz.mapper.CkjkptCsglMapper">

    <select id="queryParamValue" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT nvl(csz, '0') as csz FROM CKJKPT_CSGL WHERE csbm = #{csbm}
    </select>

</mapper>
