<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khxxgl.khflgl.qyxx.mapper.CamsJbxxQyzllbMapper">
    <select id="getByQyid" parameterType="java.lang.String" resultType="org.cmms.modules.khxxgl.khflgl.qyxx.entity.CamsJbxxQyzllb">
        SELECT * FROM Cams_jbxx_qyzllb WHERE qyid=#{qyid}
    </select>
</mapper>
