<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khpjsx.pjsxdjsz.mapper.PjsxKhdjszMapper">

    <select id="queryDjbh" parameterType="java.util.Map" resultType="org.cmms.modules.khpjsx.pjsxdjsz.entity.PjsxKhdjsz">
        SELECT * FROM PJSX_KHDJSZ WHERE QYDM=#{qydm} and DJBH=#{djbh}
    </select>

</mapper>