<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.dkjkpt.dhgl.dhjcbg.mapper.DkjkptDhjcbgfjxxMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  Dkjkpt_dhjcbgfjxx 
		WHERE
			 zjhm = #{id}
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.dkjkpt.dhgl.dhjcbg.entity.DkjkptDhjcbgfjxx">
		SELECT * 
		FROM  Dkjkpt_dhjcbgfjxx
		WHERE
			 zjhm = #{id}
	</select>
</mapper>
