<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.zhgl.jxtj.mapper.EepWageGzhzbCl2Mapper">

    <select id="getMaxImpday" resultType="java.util.Date">
        select max(impday) from bas_ods_down_days where mustynum=mustyinum and mustyinum!=0
    </select>
</mapper>