<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khpjsx.pjsxsjx.mapper.PjsxSjxxxMapper">

    <select id="querySjxid" parameterType="java.util.Map" resultType="org.cmms.modules.khpjsx.pjsxsjx.entity.PjsxSjxxx">
        SELECT * FROM PJSX_SJXXXB WHERE SJXID=#{sjxid}
    </select>

</mapper>