<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.xdgl.grdkgl.mapper.FwxxMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  CAMS_ZCSX_FW
		WHERE
			 zjhm = #{zjhm}
	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Fwxx">
		SELECT *
		FROM  CAMS_ZCSX_FW
		WHERE
			 zjhm = #{zjhm}
	</select>

	<!--根据"ID"获取固定资产信息:房屋信息-->
	<select id="queryHouseInfoById" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Fwxx">
        SELECT ZDMJ,FWMJ,PJGZ,JTWZ,TDXZ FROM CAMS_ZCSX_FW
         WHERE zjhm=(SELECT zjhm FROM CAMS_ZCSX_GRXDCJXX WHERE id = #{id})
    </select>

	<!--根据"ID"获取固定资产信息:房屋信息-->
	<select id="queryHouseDataById" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Fwxx">
        SELECT ZDMJ,FWMJ,PJGZ,JTWZ,TDXZ
          FROM CAMS_ZCSX_FW
         WHERE zjhm=(SELECT zjhm FROM CAMS_ZCSX_GRXDCJXX_SPJL WHERE id=#{id})
    </select>

</mapper>
