<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.xdgl.grdkgl.mapper.QtglzcMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  CAMS_ZCSX_QTGDZZ
		WHERE
			 zjhm = #{zjhm}
	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Qtglzc">
		SELECT *
		FROM  CAMS_ZCSX_QTGDZZ
		WHERE
			 zjhm = #{zjhm}
	</select>

	<!--根据"ID"获取固定资产信息:其它固定资产-->
	<select id="queryOtherFixedAssetsInfoById" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Qtglzc">
        SELECT ZCMCJJJ,PJGZ,JTWZ FROM CAMS_ZCSX_QTGDZZ
         WHERE zjhm=(SELECT zjhm FROM CAMS_ZCSX_GRXDCJXX WHERE id = #{id})
    </select>

	<!--根据"ID"获取固定资产信息:其它固定资产-->
	<select id="queryOtherFixedAssetsDataById" parameterType="java.lang.String" resultType="org.cmms.modules.xdgl.grdkgl.entity.Qtglzc">
        SELECT ZCMCJJJ,PJGZ,JTWZ
          FROM CAMS_ZCSX_QTGDZZ
         WHERE zjhm=(SELECT zjhm FROM CAMS_ZCSX_GRXDCJXX_SPJL WHERE id=#{id})
    </select>

	<select id="getPjgByZjhm" parameterType="java.lang.String" resultType="java.lang.String">
		select sum(PJGZ) FROM  CAMS_ZCSX_QTGDZZ WHERE ZJHM =#{zjhm}
	</select>

</mapper>
