<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.xdgl.grdkgl.mapper.RateDjsqxxMapper">

    <select id="querydjsqxx" resultType="org.cmms.modules.xdgl.grdkgl.entity.RateDjsqxx">
		SELECT * FROM  Rate_djsqxx
		WHERE zjhm = #{zjhm}
			 and djnf = #{djnf}
			 AND ROWNUM = 1
	</select>

</mapper>
