<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjfx.xdgtzytjbb.tjfxzhpjsxwcqkmxb.mapper.TjfxZhpjsxwcqkmxbMapper">

    <select id="extract" parameterType="java.util.Map" statementType="CALLABLE">
        {call PKG_TJFX.P_zhpjsxwcqkmxb
        (#{ksrq,mode=IN,jdbcType=VARCHAR},
        #{jsrq,mode=IN,jdbcType=VARCHAR})}
    </select>

</mapper>