<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khlc.jczbgl.mapper.ErpBasZbkMapper">
    <delete id="deleteByZbid" parameterType="java.lang.String">
        delete from ERP_BAS_ZBK where zbid = #{zbid}
    </delete>
</mapper>