<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khlc.jczbgl.mapper.PmaFBaseIndexTypeMapper">

    <select id="getAllChild" resultType="java.lang.Integer">
        select id from PMA_F_BASE_INDEX_TYPE where  parent_id IN (select id from PMA_F_BASE_INDEX_TYPE start with id=#{parentId} connect by prior id = parent_id)
    </select>
</mapper>