<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ckjkpt.util.mapper.CkjkptCallMapper">

    <select id="pYgglzhmx" parameterType="java.lang.String" statementType="CALLABLE">
        {call PKG_CKJKPT.P_CKJKPT_KHFZ_YGGLZHMX(#{tjyf})};
    </select>
    <select id="getCSZ" resultType="java.lang.String" parameterType="java.lang.String">
             select nvl(csz,0) as csz from ckjkpt_csgl where csbm=#{csz};
    </select>
</mapper>