<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.sjxf.hxxt.zzzhzb.mapper.ZzzhzbMapper">

    <select id="queryZzzhzbOracle" parameterType="java.lang.String" resultType="org.cmms.modules.sjxf.hxxt.zzzhzb.entity.Zzzhzb">
        select * from cbs_gldm where key_1=#{ckzh}
    </select>

    <select id="queryZzzhzbHive" parameterType="java.lang.String" resultType="org.cmms.modules.sjxf.hxxt.zzzhzb.entity.Zzzhzb">
        select * from cbs_gldm where key_1=#{ckzh}
    </select>

</mapper>
