<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.jgywsj.cktjsj.mapper.CktjsjMapper">
    <select id="getLatestTjrq" resultType="java.util.Date">
        select tjrq from (
          select tjrq from tb_tjfx_cktjsj where zzbz= #{zzbz} group by tjrq order by tjrq desc
        ) where rownum &lt;= 5
    </select>

    <select id="queryCktjsjByTjrqAndZzbz" resultType="org.cmms.modules.jgywsj.cktjsj.entity.TbTjfxCktjsj">
        select * from tb_tjfx_cktjsj where tjrq = to_date(#{tjrq},'yyyy-MM-dd') and zzbz = #{zzbz}
    </select>
</mapper>