<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.pad.nhzhsd.mapper.NhzhsdMapper">
    <select id="getWwcCzfpWg" resultType="java.lang.String">
        select t.parent_id from
        (select parent_id,count(1) as zrs from yxdygl_main  where wgxz='3' group by parent_id)t
        left join (
            select fpwg,count(distinct fpwgChild) fprs from (
                SELECT fpwg,REGEXP_SUBSTR(fpwg_child,'[^,]+',1,rn) fpwgChild
                FROM cams_zcsx_nhczfp,
                (SELECT LEVEL rn
                    FROM DUAL
                    CONNECT BY LEVEL&lt;=(SELECT
                    MAX(length(trim(translate(fpwg_child,replace(fpwg_child,','),' '))))+1
                FROM cams_zcsx_nhczfp where sfwcfp='1'))
                WHERE REGEXP_SUBSTR(fpwg_child,'[^,]+',1,rn) IS NOT NULL and sfwcfp='1'
            ) group by fpwg
        ) t1 on t.parent_id=t1.fpwg
        left join (select MENU_ID from YXDYGL_PQQXGL where khjl=#{khjl}) t3 on t3.MENU_ID=t.parent_id
        where (t.zrs>t1.fprs or t1.fprs is null) and t3.MENU_ID is not null
    </select>
</mapper>