<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.dkjkpt.cssz.dqqkjccssz.mapper.Dkjkpt_dqqkjccsszMapper">
    <delete id="deleteByCsbh">
        delete from DKJKPT_DQQKJCCSSZ where csbh = #{csbh}
    </delete>

    <update id="updateByCsbh">
        update DKJKPT_DQQKJCCSSZ set cszq=#{cs.cszq},cszz=#{cs.cszz},tzz=#{cs.tzz},bz=#{cs.bz} where csbh = #{cs.csbh}
    </update>
</mapper>
