<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjfx.khjbfctj.mapper.KhjbfctjKhjlMapper">

    <!--客户经理所属客户级别分层统计-->
    <update id="extract" parameterType="java.util.Map" statementType="CALLABLE">
        {call PKG_TJFX.P_KHFCTJ_KHJL(
            #{tjwd, mode=IN, jdbcType=VARCHAR},
            #{tjrq, mode=IN, jdbcType=VARCHAR}
        )}
    </update>

</mapper>