<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khgl.nh.mapper.NhPjsxxxMapper">

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.khgl.nh.entity.NhPjsxxx">
        SELECT *
        FROM  CAMS_ZCSX_NHPJSXXX
        WHERE
        zjhm = #{zjhm}
    </select>


    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM  CAMS_ZCSX_NHPJSXXX
        WHERE
        zjhm = #{zjhm}
    </delete>


</mapper>