<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ywgl.cdkfx.dkdqshlmx.mapper.MidDmpmDkyebmxqktjTMapper">

    <select id="getList" resultType="org.cmms.modules.ywgl.cdkfx.dkdqshlmx.entity.MidDmpmDkyebmxqktjT">
        select * from MID_DMPM_DKYEBMXQKTJ
        where  dkzh not in (select acct_no from Erp_bas_dkyeb_yhx where hxrq &lt;= to_date(#{hxrq},'YYYY-MM-DD'))
        <if test="ew.emptyOfWhere==false">
            and  ${ew.sqlSegment}
        </if>
    </select>
</mapper>