<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjfx.shzftj.shzfsjmx_qh.mapper.Tjfx_shzfsjmx_qhMapper">
    <select id="InitDataToQh" parameterType="java.util.Map" statementType="CALLABLE">
                {call PKG_TJFX.P_TJFX_SHZFTJ(#{tjyf})}
    </select>
</mapper>
