<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.yxgl.khhhmx.mapper.YxglKhhffjxxbMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  YXGL_KHHF_FJXXB 
		WHERE
			 hf_id = #{id}
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.yxgl.khhhmx.entity.YxglKhhffjxxb">
		SELECT * 
		FROM  YXGL_KHHF_FJXXB
		WHERE
			 hf_id = #{id}
	</select>
</mapper>
