<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.gzap.rwxf.mapper.GzapRwxf_RwglMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  GZAP_RWXF_RWGL 
		WHERE
			 order_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.gzap.rwxf.entity.GzapRwxf_Rwgl">
		SELECT * 
		FROM  GZAP_RWXF_RWGL
		WHERE
			 order_id = #{id} 		
	</select>
</mapper>
