<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.yjgs.ckzhdrlxx.mapper.CkzhdrlxxMapper">
    <update id="init" statementType="CALLABLE">
        {call PKG_KHGXGL.P_CKZHTZRL_INIT}
    </update>

    <select id="getListByIds" resultType="org.cmms.modules.yjgs.ckzhdrlxx.entity.Ckzhdrlxx">
        select * from Khgxgl_Drlckzh
        where id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            <if test="index % 999 == 998">) or id in (</if> #{item}
        </foreach>
    </select>

    <delete id="deleteSptgsj" parameterType="java.lang.String">
        delete from Khgxgl_Drlckzh t1
        where exists (
            select 1 from khgxgl_ckzhspxx t2
            where t2.table_id=#{tableId} and t2.process_status='2'
              and t1.jgdm=t2.jgdm and t1.khbh=t2.khbh and t1.ckzh=t2.ckzh
        )
    </delete>
</mapper>