<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjbb.dkywfx.zhdkhs.mapper.ZhdkhsMapper">
    <select id="pZhdkhs" statementType="CALLABLE">
        {call PKG_TJBB.P_DKYWFX_ZHDKHS(#{tjyf})}
    </select>
</mapper>