<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khdj.khdjpd.mapper.KhdjpdMapper">

    <update id="initData" parameterType="java.util.Map" statementType="CALLABLE">
        {call PKG_KHDJPDTJ.P_KHDJPD_EXEC
            (
              #{pdzq, mode=IN, jdbcType=VARCHAR},
              #{pdrq, mode=IN, jdbcType=VARCHAR}
            )
        }
    </update>

    <select id="callAutoMission" statementType="CALLABLE">

    </select>

</mapper>