<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ckjkpt.khgl.ygglckhz.mapper.CkjkptKhfzYgglckhzqsfxMapper">
    <select id="queryjsryeqs"  resultType="org.cmms.modules.ckjkpt.khgl.ygglckhz.entity.CkjkptKhfzYgglckhzqsfx">
        select * from Ckjkpt_khfz_ygglckhzqsfx where  zzbz = #{zzbz}   and  gwbz= #{gwbz} and yggh= #{yggh}    order by tjyf desc limit 10
    </select>

    <select id="queryjsryeqsByOracle"  resultType="org.cmms.modules.ckjkpt.khgl.ygglckhz.entity.CkjkptKhfzYgglckhzqsfx">
        select *from (select * from Ckjkpt_khfz_ygglckhzqsfx where  zzbz = #{zzbz}   and  gwbz= #{gwbz} and yggh= #{yggh}    order by tjyf desc  ) where rownum&lt;=10
    </select>
</mapper>