<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjbb.dkywfx.dklxmx.khlxmx.mapper.KhlxmxMapper">
    <select id="pKhlxmx" statementType="CALLABLE">
        {call PKG_TJBB.P_DKYWFX_DKLXMX_KHLXMX(#{ksrq},#{jsrq})}
    </select>
</mapper>