<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.dkjkpt.bldkftjk.mapper.DkjkptBldkftjkBsnmMapper">

    <select id="extract" parameterType="java.lang.String" statementType="CALLABLE">
        {call PKG_DKJKPT.P_DKJKPT_BLDKFTJK_BSNM(#{tjyf})}
    </select>

</mapper>