<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.yjgl.ygckywfx.ygtzckmx.mapper.YgtzckmxMapper">
    <select id="init" statementType="CALLABLE">
        {call PKG_BUSINESS_CK.p_ck_ygtzckmx(#{ksrq},#{jsrq},#{jgdm},#{yggh})}
    </select>
</mapper>
