<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khdj.khdjpdgzsz.mapper.KhdjpdGzszGzxxMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  KHDJ_KHDJPDGZSZ_GZXX
		WHERE
			 GZID = #{id}
	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.cmms.modules.khdj.khdjpdgzsz.entity.KhdjpdGzszGzxx">
		SELECT *
		FROM  KHDJ_KHDJPDGZSZ_GZXX
		WHERE
			 GZID = #{id}
		ORDER BY KEY ASC
	</select>

	<select id="selectByMainIdAndKey" resultType="org.cmms.modules.khdj.khdjpdgzsz.entity.KhdjpdGzszGzxx">
		SELECT *
		FROM  KHDJ_KHDJPDGZSZ_GZXX
		WHERE
			 GZID = #{mainId} AND KEY = #{key}
	</select>
</mapper>
