<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.appbase.datatime.mapper.BasDataJobDaysMapper">

    <select id="getMaxExtDay" resultType="date">
        select max(extday - 3) from BAS_DATA_JOB_DAYS where jobstat = 2
    </select>

    <select id="getMaxEendDay" resultType="date">
        select max(extday - 1) from BAS_DATA_JOB_DAYS where jobstat = 2
    </select>
</mapper>
