<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjfx.bkbpysjtj.bkbpyqktj.mapper.WgpyqktjMapper">
    <select id="initPyxx" statementType="CALLABLE">
        {call PKG_KHXXGL.P_PYXXTQ(#{tjyf})}
    </select>
</mapper>