<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.xddagl.tjfx.dkdalrqkb.mapper.DkdalrqkbMapper">
    <select id="pDkdalrqkb" statementType="CALLABLE">
        {call PKG_XDDAGL.P_DKDALLQKB_TQ}
    </select>
</mapper>