<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.sjxf.hxxt.ckzdkb.mapper.CkzdkbMapper">

    <select id="queryMaxDataDate" resultType="java.lang.String">
        select data_date from cbs_invm_base limit 1
    </select>

    <select id="getMaxLoadDate" resultType="java.lang.String">
        select to_char(to_date(data_date,'yyyyMMdd'),'yyMMdd') from cbs_invm_base where rownum=1
    </select>

</mapper>
