<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ywgl.cdkfx.util.mapper.CallToolMapper">
    <select id="pDkfxDkkhckhbl" statementType="CALLABLE">
       {call PKG_DKFX_KHJLDKTJ.P_DKFX_DKKHCKHBL(#{tjyf})}
    </select>

    <select id="pWdcdktj" statementType="CALLABLE">
        {call PKG_DKFX_KHJLDKTJ.P_WDCDKFX(#{jgdm},#{tjyf},#{username})}
    </select>
    <select id="pAutoExec" statementType="CALLABLE">
        {call PKG_DKFX_KHJLDKTJ.P_AUTO_EXEC(#{jgdm},#{tjyf},#{username})}
    </select>
    <select id="pJxkhKhjlxzblkk" statementType="CALLABLE">
            {call PKG_DKFX_KHJLDKTJ.P_JXKH_KHJLXZBLKK(#{tjyf},#{username})}
    </select>
    <select id="pJxkhZhxzbldkhz" statementType="CALLABLE">
            {call PKG_DKFX_KHJLDKTJ.P_JXKH_ZHXZBLDKHZ(#{tjyf})}
    </select>

    <select id="pJxkhKhjlxzblkkTwo" statementType="CALLABLE">
            {call PKG_DKFX_KHJLDKTJ.P_JXKH_KHJLXZBLKK_TWO(#{tjyf})}
    </select>
</mapper>