<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.dkjkpt.dkglqsckqsfx.dkkhglrgl.mapper.DkjkptDkkhglrglMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM  Dkjkpt_dkkhglrgl
        WHERE
         jkrzjhm = #{jkrzjhm} and  glrzjhm = #{glrzjhm}
    </delete>

    <select id="extract" parameterType="java.lang.String" statementType="CALLABLE">
        {call PKG_DKJKPT.P_DKKHGLRGL}
    </select>



    <select id="queryByZjhm" parameterType="java.util.Map" resultType="org.cmms.modules.dkjkpt.dkglqsckqsfx.dkkhglrgl.entity.DkjkptDkkhglrgl">
        select * from dkjkpt_dkkhglrgl
         where   jkrzjhm = #{jkrzjhm}
           and   glrzjhm = #{glrzjhm}
    </select>

</mapper>