<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ywgl.djkyw.djkkhzr.mapper.DjkkhzrMapper">

    <select id="CallPkgUpdateDkzrr" statementType="CALLABLE">
        {call PKG_DKFX_KHJLDKTJ.P_MODM_DKYEB_UPZRR(#{tjrq, mode=IN, jdbcType=VARCHAR})}
    </select>

</mapper>
