<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khxxgl.clkhxx.mapper.ClkhglMapper">
    <select id="extract"  statementType="CALLABLE">
        {call pkg_khxxgl_jcxx.P_CLKHXX}
    </select>

    <insert id="syncYesClkhxx">
        insert into KHXXGL_CLKHXX_SYNC_YES
        select id from KHXXGL_CLKHXX where id not in (select id from KHXXGL_CLKHXX_SYNC_YES)
    </insert>
</mapper>