<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khgxgl.mapper.KhgxglDkkhxxglMapper">

    <select id="getAllCpxxByZjhm" resultType="string">
        select listagg(cpxx,',') within group (order by cpxx) from (  select distinct cpxx from KHGXGL_DKKHXXGL t where zjhm = #{zjhm})
    </select>

    <select id="getAllCpxxByHth" resultType="string">
        select listagg(cpxx,',') within group (order by cpxx) from (  select distinct cpxx from KHGXGL_DKKHXXGL t where hth = #{hth})
    </select>
</mapper>