<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.tjfx.jcsjgl.bmk.mapper.TjfxBmkhtbXdxtsjMapper">
    <select id="queryMsg" resultType="org.cmms.modules.tjfx.jcsjgl.bmk.entity.TjfxBmkhtbXdxtsj">
        select * from TJFX_BMKHTB_XDXTSJ where
        zjhm = #{zjhm}
        and jgdm = #{jgdm}
        and tjyf =  to_date(#{tjyf},'yyyy/MM/dd')
    </select>

<!--    <delete id="deleteMsg" >-->
<!--        delete  from TJFX_BMKHTB_XDXTSJ where-->
<!--        zjhm = #{zjhm}-->
<!--        and jgdm = #{jgdm}-->
<!--        and tjyf =  to_date(#{tjyf},'yyyy/MM/dd')-->
<!--    </delete>-->
    <delete id="deleteMsg" >
        delete  from TJFX_BMKHTB_XDXTSJ where
        tjyf =  to_date(#{tjyf},'yyyy/MM/dd')
    </delete>

    <delete id="deletemian" >
        delete  from TJFX_BMKHTB_XDXTSJ where
        tjyf =  #{tjyf}
    </delete>

</mapper>
