<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.khgl.khglgx.mapper.QKhhmcMapper">
    <select id="queryByZjhm" parameterType="string" resultType="org.cmms.modules.khgl.khglgx.entity.Khhmc">
        select * from khgl_khhmcxx where zjhm = #{zjhm}
    </select>

    <select id="queryByZjhmAndHhbm" resultType="org.cmms.modules.khgl.khglgx.entity.Khhmc">
        select * from khgl_khhmcxx where zjhm = #{zjhm} and hhbm = #{hhbm}
    </select>

    <update id="initKhhmcxx" statementType="CALLABLE">
        {call pkg_khxxgl.P_KHHMCXX}
    </update>
</mapper>
