<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.jx.ckgl.mapper.TbTjfxCkzrzzmxxxMapper">
    <select id="getListByYggh" resultType="org.cmms.modules.jx.ckgl.entity.TbTjfxCkzrzzmxxxVo">
            select tb.*,org.ZZJC as zzjc,org.ZZMC as ZZMC from tb_tjfx_ckzrzzmxxx tb left join hr_bas_organization org on tb.khjgdm=org.YWJGDM
            and tb.yggh=#{yggh} order by tb.khrq desc
    </select>

</mapper>