<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmms.modules.ywgl.cdkfx.khjlcdktjzh.mapper.ErpYljcZhkhjldkkhzbtjMapper">

    <select id="getList" resultType="org.cmms.modules.ywgl.cdkfx.khjlcdktjzh.entity.ErpYljcZhkhjldkkhzbtj">
        select * from Erp_yljc_zhkhjldkkhzbtj
        where ckye>0 or dkye>0 or cknrpye>0 or dkrpye>0 or byshlx>0
        <if test="ew.emptyOfWhere==false">
          and  ${ew.sqlSegment}
        </if>
    </select>

    <select id="pAutoExec" statementType="CALLABLE">
        {call PKG_DKFX_KHJLDKTJ.P_AUTO_EXEC(#{jgdm},#{tjyf},#{username})}
    </select>
</mapper>